version: '3.3'
services:
  ui:
    image: node:15
    user: "node"
    working_dir: /home/node/app
    volumes:
    - ./:/home/node/app
    command: npm run serve -- --port 8081
    ports:
      - 8081:8081
