name: Browser tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  browser-tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          repository: wbstack/api
          path: api

      - run: cp .env.example .env
        working-directory: api

      - run: docker run --rm -v .:/app -u $(id -u):$(id -g) composer install --ignore-platform-req=ext-pcntl
        working-directory: api

      - run: docker compose up -d
        working-directory: api

      - run: sleep 10

      - run: docker compose exec api bash -c 'php artisan migrate:fresh && php artisan passport:install && php artisan db:seed && php artisan key:generate && php artisan storage:link'
        working-directory: api

      - uses: actions/checkout@v5.0.0
        with:
          path: ui

      - run: cp .env.development.test .env
        working-directory: ui

      - run: sudo chown -R 1000:1000 .
        working-directory: ui

      - run: docker compose run --rm ui npm install
        working-directory: ui

      - run: docker compose --profile browser-tests up -d --wait
        working-directory: ui

      - run: docker compose exec -it ui npm run test:e2e
        working-directory: ui
