name: Netlify comment on PR

on:
  pull_request:
    types: [opened]

jobs:
  comment-on-pr:
    runs-on: ubuntu-latest
    name: Comment deploy URL to PR
    steps:
      - name: Get branch hash
        id: get_hash
        run: echo "::set-output name=hash::$(echo '${{ github.ref }}' | shasum | awk '{print $1}' | head -c 10 )"
      - name: Comment on PR
        uses: thollander/actions-comment-pull-request@1.0.1
        with:
          message: |
            Deployment previews on netlify for branch `${{ github.ref }}` will be at the following locations (when build is done):

            - UI with mock store: <https://${{ steps.get_hash.outputs.hash }}-mock--wbstack-ui.netlify.app/>
            - UI pointing to prod: <https://${{ steps.get_hash.outputs.hash }}-prod--wbstack-ui.netlify.app/>
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
