name: Netlify Preview

on:
  pull_request: null

jobs:
  build-mock:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3.0.2

    - uses: c-py/action-dotenv-to-setenv@v3
      with:
        env-file: .env.development.mock

    - name: Use Node.js 14.x
      uses: actions/setup-node@v3.4.0
      with:
        node-version: 14.x
    - run: npm ci
    - run: npm run build

    - name: Deploy branch preview to Netlify
      id: netlify_deploy
      run: echo "::set-output name=url::$(npx -p netlify-cli
        netlify deploy --dir=dist --json
        --alias $(echo '${{ github.ref }}' | shasum | awk '{print $1}' | head -c 10 )-mock
        | jq '.deploy_url' --raw-output)"
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

    - name: Print deploy URL
      run: echo ${{ steps.netlify_deploy.outputs.url }}

  build-prod:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3.0.2

    - uses: c-py/action-dotenv-to-setenv@v3
      with:
        env-file: .env.development.prod

    - name: Use Node.js 14.x
      uses: actions/setup-node@v3.4.0
      with:
        node-version: 14.x
    - run: npm ci
    - run: npm run build

    - name: Deploy branch preview to Netlify
      id: netlify_deploy
      run: echo "::set-output name=url::$(npx -p netlify-cli
        netlify deploy --dir=dist --json
        --alias $(echo '${{ github.ref }}' | shasum | awk '{print $1}' | head -c 10 )-prod
        | jq '.deploy_url' --raw-output)"
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

    - name: Print deploy URL
      run: echo ${{ steps.netlify_deploy.outputs.url }}